.m8-button {
  @include button-reset;
  display: inline-block;
  width: 100%;
  padding: 15px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  background-color: $red;
  border-radius: 8px;
  transition-duration: 0.25s;

  &:focus,
  &:hover,
  &:active {
    color: #ffffff;
    background-color: $l-red;
  }

  &:active {
    opacity: 0.5;
  }

  &--opacity {
    padding: 13px;
    background-color: transparent;
    border: 2px solid $red;
    color: $red;

    &:focus,
    &:hover,
    &:active {
      color: $red;
      background-color: transparent;
    }
  }
}
