.m8-button {
  @include button-reset;
  display: inline-block;
  width: 100%;
  padding: 15px;
  font-weight: 700;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  background-color: $red;
  border-radius: 8px;
  transition-duration: 0.25s;
  outline: none;

  &:focus,
  &:hover,
  &:active {
    color: #ffffff;
    background-color: $l-red;
  }

  &:active {
    opacity: 0.5;
  }

  &--opacity {
    padding: 13px;
    background-color: transparent;
    border: 2px solid $red;
    color: $red;

    &:focus,
    &:hover,
    &:active {
      color: #ffffff;
      background-color: $l-red;
      border-color: $l-red;
    }
  }

  @media (min-width: $l-screen) {
    width: 330px;
    padding: 20px;
    font-size: 24px;
    text-transform: uppercase;
  }
}
