.m8-examples {
  padding-top: 5px;

  @media (min-width: $l-screen) {
    padding-top: 15px;
  }
}

.m8-examples__title {
  margin-bottom: 5px;

  @media (min-width: $l-screen) {
    margin-bottom: 20px;
  }
}

.m8-examples__list {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  width: $s-screen;
  margin: 0 auto;
  padding: 0;

  @media (min-width: $m-screen) {
    width: 574px;
  }

  @media (min-width: $l-screen) {
    width: 772px;
  }

  @media (min-width: $xl-screen) {
    width: 100%;
  }
}

.m8-examples__image {
  display: block;
  width: 100px;
  margin-bottom: 10px;
  object-fit: cover;

  @media (min-width: $m-screen) {
    width: 178px;
    height: 171px;
    margin-bottom: 17px;
  }
}
