.m8-examples {
  padding: 5px 0 0;
}

.m8-examples__title {
  margin-bottom: 5px;
}

.m8-examples__list {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.m8-examples__image {
  display: block;
  width: 100px;
  height: 95px;
  margin-bottom: 10px;
  object-fit: cover;
}
