.m8-promoution {
  padding: 65px 0 55px;
  background-color: #f7e5e0;
  background-image: url("../img/m8-flowers-mobile@1x.png");
  background-position: center 40px;
  background-size: 598px 215px;
  background-repeat: no-repeat;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/m8-flowers-mobile@2x.png");
  }

  @media (min-width: $l-screen) {
    padding: 100px 0 40px;
    background-image: url("../img/m8-flowers-desktop@1x.png");
    background-position: center 80px;
    background-size: 1140px 410px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/m8-flowers-desktop@2x.png");
    }
  }
}

.m8-promotion__title {
  margin-bottom: 25px;

  @media (min-width: $l-screen) {
    margin-bottom: 0;
    line-height: 1;
  }
}

.m8-promotion__slider {
  margin-bottom: 15px;

  @media (min-width: $l-screen) {
    margin-bottom: 30px;
  }
}

.m8-promoution__wrapper {
  margin: 0;
  padding: 0 20px;

  @media (min-width: $l-screen) {
    display: flex;
    justify-content: center;
  }
}

.m8-promoution__slide {
  position: relative;
  margin: 0;
  margin-top: 16px;
  padding: 25px 10px 20px;
  font-style: italic;
  font-size: 14px;
  line-height: 1.25;
  background-color: #ffffff;
  border: 2px solid #ffc602;
  border-radius: 6px;

  @media (min-width: $l-screen) {
    font-size: 30px;
    margin-top: 22px;
    padding: 50px 20px 30px;
  }
}

.m8-promoution__discount {
  position: absolute;
  top: -16px;
  left: 15px;
  display: block;
  width: 70px;
  height: 32px;
  font-weight: 700;
  font-style: normal;
  font-size: 20px;
  line-height: 32px;
  text-align: center;
  background-color: #ffc602;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: -13px;
    border: 16px solid #ffc602;
    border-top-color: transparent;
    border-right: none;
    border-bottom-color: transparent;
    border-left-width: 13px;
  }

  @media (min-width: $l-screen) {
    top: -22px;
    left: 22px;
    font-size: 30px;
    line-height: 44px;
    width: 110px;
    height: 44px;

    &::after {
      right: -20px;
      border: 22px solid #ffc602;
      border-top-color: transparent;
      border-right: none;
      border-bottom-color: transparent;
      border-left-width: 20px;
    }
  }
}

.m8-promoution__discription {
  display: block;
  margin-bottom: 5px;

  @media (min-width: $l-screen) {
    margin-bottom: 15px;
  }
}

.m8-promoution__link {
  display: block;
  color: #0188ff;
  text-decoration: none;
  transition-duration: 0.25s;
  outline: none;

  &:focus,
  &:hover {
    color: #0188ff;
    text-decoration: underline;
  }

  @media (min-width: $l-screen) {
    font-style: normal;
    font-size: 24px;
  }
}

.m8-promoution__prev,
.m8-promoution__next {
  margin-top: 0;

  @media (min-width: $l-screen) {
    margin-top: -20px;
  }
}

.m8-promoution__button {
  margin-bottom: 15px;

  @media (min-width: $l-screen) {
    margin: 0 10px;
  }
}
