.m8-reviews {
  padding-bottom: 30px;
  background-image: linear-gradient(to bottom, #ffffff, #e4ac9c);

  @media (min-width: $l-screen) {
    padding-bottom: 60px;
  }
}

.m8-reviews__title {
  margin-bottom: 10px;

  @media (min-width: $l-screen) {
    margin-bottom: 15px;
  }
}

.m8-reviews__slider {
  margin-bottom: 20px;
}

.m8-reviews__image {
  display: block;
  margin: 0 auto 20px;
  border-radius: 50%;

  @media (min-width: $l-screen) {
    margin-bottom: 25px;
  }
}

.m8-reviews__review {
  margin: 0 0 5px;
  padding: 0 5px;
  font-size: 14px;
  line-height: 1.25;
  font-style: italic;
  text-align: center;

  @media (min-width: $l-screen) {
    padding: 0 15px;
    font-size: 24px;
  }
}

.m8-reviews__author {
  display: block;
  font-style: normal;
  text-align: center;
  color: #ffffff;

  &::before {
    content: "— ";
  }

  @media (min-width: $l-screen) {
    font-size: 24px;
  }
}

.m8-reviews__prev,
.m8-reviews__next {
  margin-top: 70px;

  @media (min-width: $l-screen) {
    margin-top: 50px;
  }
}

.m8-reviews__button {
  display: block;
  width: calc(100% - 40px);
  margin: 0 auto;

  @media (min-width: $m-screen) {
    width: 230px;
  }

  @media (min-width: $l-screen) {
    width: 330px;
  }
}
