.m8-slider {
  @media (min-width: $l-screen) {
    width: 860px;
  }
}

.m8-slider__wrapper {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.m8-slider__slide {
  padding: 0 20px;
  box-sizing: border-box;

  @media (min-width: $l-screen) {
    padding: 0 45px;
  }
}

.m8-slider__prev,
.m8-slider__next {
  @include button-reset;
  @include img-contain;
  width: 10px;
  height: 20px;
  margin-top: -10px;
  background-image: url("../img/m8-arrow.svg");

  @media (min-width: $l-screen) {
    width: 20px;
    height: 40px;
    margin-top: -20px;
  }
}

.m8-slider__prev {
  left: 5px;
}

.m8-slider__next {
  right: 5px;
  transform: rotate(180deg);
}
