// Основные цвета от светлого к темному
$l-red: #d10f36;  // кнопки при наведении
$red: #c00027;  // кнопки

// Основные размеры
$s-screen: 320px;
$m-screen: 768px;
$l-screen: 1024px;
$xl-screen: 1170px;

// Разрешение ретины
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
